[Unit]
Description=Frp Server Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/opt/frp/frps -c /opt/frp/conf/%i.ini
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
